@import "../../sassStyles//global";

.dropdown-button {
    position: relative;
}

.dropdown-container {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    top: 45px;
    left: -9em;
    background-color: rgba(77, 77, 77, 1);
    // color: rgb(116, 219, 216);
    color: white;
    width: 12em;
    z-index: 120;
    // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @include small-screen {
        top: 35px;
        left: -5em;
        width: 7em;
    }
    a {
        border-radius: 5%;
        padding: 0.4em 0.5em;
        cursor: pointer;
        &:hover {
            // background-color: rgb(103, 193, 190);
            background-color: rgb(91, 91, 91);

        }
        @include small-screen {
            font-size: 0.8em;
        }
    }
}

.visible {
    visibility: visible;
}

.options-button {
    margin: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1.3em;
    margin: 0 1em 0 0;
    color: white;
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(85, 85, 85);
    cursor: pointer;
    margin-left: 0.8em;
    &:hover {
        background-color: rgb(59, 59, 59);
    }
    @include small-screen {
        width: 35px;
        height: 35px;
    }
}


.show-members-button {
    position: relative;
    .members-button {
        margin: 0;
        width: auto;
        height: auto;
        font-size: 0.8em;
        margin: 0 1em 0 0;
        padding: 0 0.4em;
        color: white;
        position: relative;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: none;
        border: 2px solid rgb(71, 71, 71);
        cursor: pointer;
        margin-left: 0.8em;
        &:hover {
            background-color: rgb(59, 59, 59);
        }
        @include small-screen {
            width: 35px;
            height: 35px;
        }
    }
    .dropdown-container {
        top: 24px;
        left: 0.5em;
        font-size: 0.8em;
        max-height: 80px;
        height: auto;
        overflow-y: scroll;
        scrollbar-width: thin;          /* "auto" or "thin" */
        scrollbar-color: #3B3E49 #25323f; 
    }
}