@import '../../sassStyles/global';

.username-text + .username-text::before {
    display: inline-block;
    white-space: pre;
    content: ", ";
}

.room-icon, .dm-icon {
    border-radius: 20%;
    border: 3px solid rgb(49, 49, 49);
    background-size: cover;
    width: 50px;
    height: 50px;
    @include small-screen {
        width: 40px;
        height: 40px;
    }
}

.user-info {
    h4 {
        display: flex;
    }
}

.selected {
    background-color: #212629;
}