@import "../../sassStyles//global";

.chat-main {
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    height: 100%;
    color: white;
    background-color: #171B1D;
    @include small-screen {
        width: 55%;
    }
    .main-container {
        padding: 1em 0.6em;
        @include small-screen {
            padding: 0.5em 0;
        }
    }

    h3 {
        font-size: 1em;
        @include small-screen {
            font-size: 0.8em;
        }
    }

    h4 {
        font-size: 0.9em;
        font-weight: 300;
        color: rgba(194, 193, 193, 0.9);
        @include small-screen {
            font-size: 0.7em;
        }
    }

    .chat-area {
        background-color: rgba(10, 14, 15);
        display: flex;
        flex-direction: column;
        color: white;
        width: 100%;
        height: 63%;
        padding: 2em 0 0 0;
        scrollbar-width: thin;          /* "auto" or "thin" */
        scrollbar-color: #3B3E49 #25323f; 
    }
    .is-typing-row {
        height: 5%;
        background-color: rgba(10, 14, 15);
        display: flex;
        flex-direction: row;
        color: white;
        padding-bottom: 0.7em;
        .is-typing-text:first-child {
            margin-left: 2em;
        }
        .is-typing-text {
            display: flex;
            align-items: center;
            border-radius: 2%;
            width: auto;
            margin: 0.5em 0.5em 0 0;
            // padding: 0.2em 1em;
            color: rgb(187, 187, 187);
            // background-color: rgba(77, 77, 77, 0.9);
        } 
    }

    .enter-message-container {
        height: 16%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 1em;
        input {
            padding: 0 1em;
            height: 50px;
            flex-grow: 1;
            max-width: 80%;
            // width: au%;
            // max-width: 80%;
            border-radius: 0.4em;
            border-style: none;
            color: white;
            outline: none;
            background-color: rgba(77, 77, 77, 0.9);
            &:focus {
                border: 1px solid rgba(106, 106, 106, 0.9);
            }
        }
    }
}


.upload-image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    height: auto;
    padding: 0 0.5em;
    // min-width: 5em;
}
.image-item {
    margin: 0 0.3em;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    .remove-image-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        height: 1em;
        min-height: 1em;
        width: 100%;
        background-color: rgba(107, 107, 107, 0.6);
        color: white;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
        .times-icon {
            font-size: 0.7em;
        }
    }
}

.emoji-picker {
    background-color: black;
    width: 200px;

    .epr-header {
        background-color: blue;
    }
}

.epr-main, .epr-header, .epr-body, .epr-preview {
    background-color: black;
    border-color: black;
}

.emoji-picker-container {
    position: relative;
    .EmojiPickerReact.epr-main {
        position: absolute;
        background-color: black;
        bottom: 30px;
        right: 15px;
        z-index: 100;
        .epr-search, .epr-emoji-category-label {
            background-color: rgba(77, 77, 77, 0.9);
        }
        .epr-emoji-category-label {
            color: white;
        }
    }
}
.under-emoji-picker {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    height: 100%;
    width: 69%;
    z-index: 90;
}