.chat-main {
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    background-color: #171B1D;
    // background-color: rgb(23, 27, 29);
    // Firefox Scrollbar Styles
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #3B3E49 #25323f;  
    // padding: 1.5em 0.5em;
    .user-info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 15%;
        width: 100%;
        color: white;
        padding: 2em 1.1em;
        .user-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 0.8em;
            text-transform: capitalize;
            height: 64px;
        }
        .options-button {
            margin: 0;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            font-size: 1.3em;
            margin: 0 1em 0 0;
            position: relative;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid rgb(85, 85, 85);
            cursor: pointer;
            margin-left: 0.8em;
            &:hover {
                background-color: rgb(59, 59, 59);
            }
        }
    }

    .chat-area {
        background-color: rgba(10, 14, 15);
        display: flex;
        flex-direction: column;
        color: white;
        width: 100%;
        height: 70%;
        padding: 2em 0;
        overflow-y: scroll;
    }

    .enter-message-container {
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        input {
            padding: 0 1em;
            height: 50px;
            width: 94%;
            border-radius: 0.4em;
            border-style: none;
            color: white;
            outline: none;
            background-color: rgba(77, 77, 77, 0.9);
            &:focus {
                border: 1px solid rgba(106, 106, 106, 0.9);
            }
        }
    }
}
