@import "../../sassStyles//global";

.chat-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    background-color: #171b1d;
    // background-color: rgb(37, 44, 46);
    // Firefox Scrollbar Styles
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #3B3E49 #25323f;  
    padding: 1em 0.5em;
    @include small-screen {
        min-width: 45%;
    }
    .sidebar-container {
        padding: 1em 0.6em;
        @include small-screen {
            padding: 0.5em 0;
        }
        .row-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @include small-screen {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
            .add-room-button {
                margin-bottom: 1em;
                font-size: 0.9em;
                // padding: 0;
            }
        }
        .row-title {
            margin-bottom: 1em;
        }
    }
    &::-webkit-scrollbar {
        width: 0.5em;             /* width of the entire scrollbar */
        border-radius: 0%;
    }
      
    &::-webkit-scrollbar-track {
        background: #25323f;        /* color of the tracking area */
        border-radius: 0%;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #3B3E49;    /* color of the scroll thumb */
    }

    h3 {
        font-size: 1em;
        @include small-screen {
            font-size: 0.8em;
        }
    }

    h4 {
        font-size: 0.9em;
        font-weight: 300;
        color: rgba(194, 193, 193, 0.9);
        @include small-screen {
            font-size: 0.7em;
        }
    }

    .search-container {
        width: 100%;
        padding: 1em 0;
        .search {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            .search-bar {
                padding: 0 1em;
                height: 50px;
                width: 94%;
                border-radius: 0.4em;
                border-style: none;
                color: white;
                outline: none;
                background-color: rgba(77, 77, 77, 0.9);
                &:focus {
                    border: 1px solid rgba(106, 106, 106, 0.9);
                }

            }
        }
    }

    .online-container {
        .online-users {
            width: 100%;
            // background-color: green;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            overflow-x: scroll;
            .online-user {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: auto;
                margin: 0 0.5em 0 0;
                padding: 1em 0;
                h4 {
                    text-transform: capitalize;
                    font-weight: 500;
                }
            }
        }
    }

    .rooms-container {
        height: auto;
        width: 100%;
        .all-rooms {
            z-index: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: auto;
            max-height: auto;
            min-height: 10em;
            // background-color: blue;
            // overflow-y: scroll;
            scrollbar-width: thin;          /* "auto" or "thin" */
            scrollbar-color: #3B3E49 #25323f; 
            .single-user {
                padding: 0.7em 0;
            }
            h4 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}   