.chat-sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    background-color: #171b1d;
    // background-color: rgb(37, 44, 46);
    // Firefox Scrollbar Styles
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #3B3E49 #25323f;  
    padding: 1.5em 0.5em;
    &::-webkit-scrollbar {
        width: 0.5em;             /* width of the entire scrollbar */
        border-radius: 0%;
    }
      
    &::-webkit-scrollbar-track {
        background: #25323f;        /* color of the tracking area */
        border-radius: 0%;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #3B3E49;    /* color of the scroll thumb */
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 0.9em;
        font-weight: 300;
        color: rgba(194, 193, 193, 0.9);
    }

    .avatar-link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 64px;
    }

    .user-info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100%;
        color: white;
        padding: 0.5em 0.6em;
        .user-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 0.8em;
            text-transform: capitalize;
            height: 64px;
        }
        .options-button {
            margin: 0;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            font-size: 1.3em;
            margin: 0 1em 0 0;
            position: relative;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid rgb(85, 85, 85);
            cursor: pointer;
            margin-left: 0.8em;
            &:hover {
                background-color: rgb(59, 59, 59);
            }
        }
    }

    .search-container {
        width: 100%;
        padding: 1em 0;
        .search {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            .search-bar {
                padding: 0 1em;
                height: 50px;
                width: 94%;
                border-radius: 0.4em;
                border-style: none;
                color: white;
                outline: none;
                background-color: rgba(77, 77, 77, 0.9);
                &:focus {
                    border: 1px solid rgba(106, 106, 106, 0.9);
                }

            }
        }
    }

    .online-container {
        padding: 0.5em 0.6em;
        .online-users {
            width: 100%;
            // background-color: green;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            overflow-x: scroll;
            .online-user {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: auto;
                margin: 0 0.5em 0 0;
                padding: 1em 0;
                h4 {
                    text-transform: capitalize;
                    font-weight: 500;
                }
            }
        }
    }

    .rooms-container {
        padding: 0.5em 0.6em;
        height: auto;
        width: 100%;
        .all-rooms {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: 20em;
            // background-color: blue;
            overflow-y: scroll;
            scrollbar-width: thin;          /* "auto" or "thin" */
            scrollbar-color: #3B3E49 #25323f; 
            .single-user {
                padding: 1em 0;
            }
        }
    }


    .online-container, .rooms-container {
        h3 {
            margin-bottom: 0.5em;
        }
    }
}   