@import "../../sassStyles//global";

.profile-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(10, 14, 15);
    color: white;
    .heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        height: auto;
        width: 100%;
        color: white;
        padding: 0.5em 1em;
        background-color: #212629;
    }

    .profile-details-form {
        width: auto;
        height: auto;
        margin: 0 2em;
        padding: 0 0 2em;
        color: white;
        font-size: 16px;
        .options-container {
            display: flex;
            margin: 0.5em 0 1em 0;
            .avatar-option {
                border-radius: 50%;
                width: 8em;
                height: 8em;
                margin:  0.5em 1em 0.5em 0;
                cursor: pointer;
                &:hover {
                    scale: 1.1;
                }
            }
            .current-choice {
                border: 0.5em solid rgb(252, 241, 179);
                // border: 0.5em solid black;
                &:hover {
                    scale: 1;
                }
            }
        }
        .details-input-container {
            width: 55%;
        }
        .profile-details-form-button {
            margin-top: 0.5em;
            width: auto;
        }
    }
    .form-container { 
        max-width: 30%;
        background-color: transparent;
        margin-top: 2em;
        .form-sub-title {
            font-size: 1.2em;
        }
        .form-button {
            background-color: #4b5c60;
            border: 0;
            padding: 0.3em 1em;
            border-radius: 0.3em;
            width: auto;
            color: white;
            margin-bottom: 0.4em;
            cursor: pointer;
            &:disabled {
                background-color: #4b5c60;
                color: rgb(145, 145, 145);
            }
            &:hover:not([disabled]) {
                background-color: #313b3d;
            }
        }
    }
    .view-profile-details {
        .user-avatar {
            border-radius: 50%;
            position: relative;
            height: 170px;
            width: 170px;
            @include small-screen {
                height: 40px;
                width: 40px;
            }
        }
        .info-row {
            width: 17em;
            padding: 0.5em 2em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            text-transform: capitalize;
        }
        .info-row:first-child {
            margin-top: 1em;
        }
        h2 {
            font-size: 1.4em;
            color: rgba(148, 148, 148, 0.9);
        }
        h3 {
            font-size: 1.2em;
            font-weight: 500;
            color: rgb(255, 255, 255);
        }

        .friend-status-button {
            border-style: none;
            background-color: #8eaeb9;
            color: black;
            padding: 0.5em 1em;
            min-width: 10em;
            max-width: 15em;
            width: auto;
            cursor: pointer;
            border-radius: 0.2em;
            &:hover {
                background-color: #78919a;
            }
        }
    }
}