.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    height: auto;
    .left-side {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
        background-color: white;
        .login-form-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            h3 {
                font-size: 2.4em;
            }
            h4 {
                font-size: 1.2em;
                font-weight: 300;
                color: gray;
            }
        }
    }
    .right-side {
        height: 100%;
        width: 50%;
        background-color: aqua;
    }
}