@import "./sassStyles/global";


.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    h3 {
        font-size: 2.4em;
    }
    h4 {
        font-size: 1em;
        font-weight: 300;
        color: rgba(77, 77, 77, 0.9);
    }

    .form-input-container {
      margin: 1em 0;
      height: auto;
    }
    
    .form-input {
      width: 100%;
      height: 1.5em;
      padding: 1em 0.6em;
      border: 1px solid rgba(87, 87, 87, 0.4);
      border-radius: 0.3em;
      background-color: white;
    }
    
    span {
      color: rgba(77, 77, 77, 0.9);
      margin-right: 0.4em;
      font-weight: 300;
    }
    .form-link {
      color: #9593BB;
      font-weight: 300;
      &:hover {
        color: rgb(142, 174, 185);
      }
    }
}

.form-button {
  background-color: #161B1C;
  border: 0;
  padding: 0.3em 1em;
  border-radius: 0.3em;
  width: 100%;
  color: white;
  margin-bottom: 0.4em;
  cursor: pointer;
  &:hover {
      background-color: #313b3d;
  }
}

