@import "../../sassStyles//global";

.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .chat-container {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
        background-color: blue;
    }
    .default-chat-space {
        display: flex;
        flex-direction: column;
        flex-grow: 100;
        height: 100%;
        background-color: #171B1D;
        justify-content: center;
        align-items: center;
        .start-chat-message {
            font-size: 2em;
            color: rgb(96, 95, 95);
            @include small-screen {
                font-size: 1em;
                padding: 0 1em;
            }
        }
    }
}